.btn-primary {
    background: $submain-color;
    transition: .3s;
    color: white;
    border-radius: 10px;
    border: 2px solid $submain-color;
    box-shadow: 0 5px 0 $primary-color;
    &:hover {
        background: $default-color;
        color: $primary-color;
        border: 2px solid $dark-danger-color;
        box-shadow: 0 5px 0 $dark-danger-color;
        transform: translateY(-5px);
    }
    @media screen and (max-width:$desktopWidth) {
        padding: 10px;
    }
}

.btn {
    font-family: 'Roboto';
    font-weight: 400;
    padding: 15px 30px;
    cursor: pointer;
}
.btn-secondary {
    padding: 7px 20px;
    border: 2px solid $primary-color;
    color: $primary-color;
    background: white;
    &:hover {
        color: white;
        background: $primary-color;
    }
}

.btn-dark {
    padding: 10px 25px;
    border: 2px solid #1c1c1c;
    color: #1c1c1c;
    background: white;
    border-radius: 5px;
    &:hover {
        color: white;
        background: #1c1c1c;
    }
}

.btn-modal {
    padding: 10px 55px;
    background: $submain-color;
    color: white;
    border-radius: 5px;
    border: 2px solid $submain-color;
    font-weight: 500;
    transition: all .3s;
    &:hover {
        background: white;
        color: $submain-color;
    }
}

.burger-btn {
    display: block;
    @include size(50px);
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    span,
    span:before,
    span:after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -10px;
        width: 20px;
        height: 2px;
        background-color: #222222;
    }
    span:before,
    span:after {
        content: '';
        display: block;
        transition: 0.2s;
    }
    span:before {
        transform: translateY(-5px);
    }
    span:after {
        transform: translateY(5px);
    }
    &.burger-btn_active span {
        height: 0;
    }
    &.burger-btn_active span::before {
        transform: rotate(45deg);
    }
    &.burger-btn_active span::after {
        transform: rotate(-45deg);
    }
}